{% extends 'base.html' %}
{% block body %}
home

<div>
        <form method='post' action="{% url 'doLogin' %}">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username" placeholder="Choose a unique username" required>
  </div>

    <label for="pass1"> password</label>
    <input type="password" class="form-control" id="password" name="password" placeholder="Choose Your Password" required>
  </div>



        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Submit</button>
</form>
      </div>











{% endblock %}